*{
            margin:0%;
            padding:0%;
        }
        #body{
            background-color:#0062be;                                 
        }
        #navigation{
            height:6vh;
            width:98vw;           
            display:flex;
            align-items:center;
        }
        #logo{
            height:5vh;
            width:4w;
            margin:2px;
        }
        #heading{
            font-weight:bold;
            font-size:3vh;
        }
        #menu{
            width:100vw;
            display:flex;
            justify-content:right;
        }
        ul{
            display:flex;
            font-weight:bold;
            margin:5%;
        }
        li{
            list-style:none;
            font-size:2.5vw;
            margin:6%;
        }
        #li1{
            color:silver;           
        }
        #li1:active{
            color:silver;
            transform:scale(1.2);
        }
        #li2:active{
            color:silver;
            transform:scale(1.2);
        }
        #maincontainer{
            height:45vh;
            width:100vw;                   
            display:flex;
            justify-content:center;            
        }
        #mainimg{
            height:42vh;
            width:63vw;
            transform:rotate(-30deg);
            filter:drop-shadow(1rem 1.2rem 2rem black);            
        }
        #selectcontainer{
            height:20vh;
            width:98vw;           
            display:flex;
            justify-content:center;
            align-items:center;                     
        }
        .items{
            margin:5%;
            height:14vh;
            width:21vw;
        }
        .items:active{           
            position:relative;
            bottom:10px;            
            transform:scale(10%);            
        }
